<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'partials/master-head.njk' %}
	{% block head %}{% endblock %}
</head>
<body>
	
	<nav>
		<a href="/">Home</a> |
		<a href="/blog">Blog</a> |
		<a href="/news">News</a> |
		<a href="/contact">Contact</a>
	</nav>
	<hr>

	{% block content %}
		{{ content | safe }}
	{% endblock %}
</body>
</html>