{% extends 'layouts/base.njk' %}

{% block head %}
  <meta name="description" content="{{ description }}">
{% endblock %}


{% block content %}
  <h1>{{ title }}</h1>
  <p>
  	<small>
  		<span><time>{{ date | postDate }}</time></span> |
	  	<span><i>Posted by: </i> {{ author }}</span>
  	</small>
  </p>
  <hr>
  {{ content | safe }}
{% endblock %}