<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="/assets/css/global.css">

{%- from 'components/seo.njk' import metaTags -%}
{{ metaTags(desc=description) }}